.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

figure {
  margin: 0;
}

.image {
  width: 300px;
  height: 300px;
}

.image div {
  width: 300px;
  height: 300px;
  border-radius: 6px;
  overflow: hidden;
  background-size: 300px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 12px;
}

.form-line {
  display: flex;
  width: 100%;
}

.form-field {
  width: 100%;
  margin: 10px 0;
}

.form-field--small {
  width: 80px;
  margin-left: 16px;
}

.flag {
  margin-left: 12px;
  position: relative;
  top: 13px;
  height: 55px;
}

.flag img {
  border-radius: 4px;
}

.label {
  font-weight: bold;
  margin-right: 12px;
}
