<mat-toolbar >
  <span>TRIANGLE</span>
  <span class="spacer"></span>
  <mat-icon>change_history</mat-icon>
</mat-toolbar>

<div class="main-content">
  <mat-icon class="big color-changing">change_history</mat-icon>
  <div class="intro-text">
    <h1>BIENVENUE</h1>
    <h2>AU TRIANGLE</h2>
    <p>
      Est-ce que tu es prêt à créer votre profil?
      Identifiez-toi et remplissez les champs.
    </p>
    <br>
    <button routerLink="/profile" mat-button class="big-button">
      <mat-icon class="fingerprint">fingerprint</mat-icon>
    </button>
  </div>
</div>
