.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.big {
  width: 300px;
  height: 300px;
  font-size: 300px;
  color: white;
}

.fingerprint {
  width: 80px;
  height: 80px;
  font-size: 80px;
  color: white;
  opacity: 0.5;
}

h1 { font-size: 3em;}
h2 { font-size: 2em;}

p {
  font-size: 1.2em;
  padding: 12px;
}

.intro-text {
  text-align: center;
}

.big-button {
  transform: scale(1.4);
}
